.breadcrumb {
	background-color: transparent;
	.li {
		a {

		}
	}
}


.avatar {
	border-radius: 50%;
}

.user {
	.avatar {
		margin: 20px 0 0 20px;
	}

	.title {
		font-size: 200%;
		padding-top: 10px;
		width: 100%;
	}

	.body {
	}
}

article.post {
	.avatar {
		margin: 20px 0 0 20px;
	}

	.title {
		font-size: 300%;
		width: 100%;
		padding-left: 20px;
		padding-bottom: 1px;
	}

	.body {
	}
}

.comments, .posts {
	.post {
		margin-bottom: 5px;

		.avatar {
			margin: 20px;
		}

		.body {
			padding-left: 0;
		}
	}
}

.title {
	font-size: 150%;
	font-weight: 600;
}
.user-info {
	text-align: center;
	vertical-align: top;
}
.body {
	padding: 20px;
	vertical-align: top;
}
.meta {
	font-size: 80%;
}

textarea {
	max-width: 100%;
}

.post {
	transition: background-color 0.5s ease;
}

.post:hover {
	background-color: #f5f5f9;
}

.btn {
	transition: all 0.25s ease;
}
.btn-channel {
	text-align: left;
	border-width: 0 0 0 10px;
	box-shadow: 0 0 2px #999;
}


.channel-active {
	border-left-width: 15px;
}

.channel-inactive {
	border-left-width: 10px;
}

.channel-inactive:hover {
	border-left-width: 15px;
}

